@page "/login"
@inject HttpClient Http
@using TrotIS.Shared
@inject NavigationManager NavigationManager
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage

<h3>Login</h3>

<div class="row">
    <div class="col-md-4">
            <input type="email" name="email" @bind="user.Email" placeholder="Email..."><br>
            <input type="password" name="password" @bind="user.Password" placeholder="Password.."><br>
            <button @onclick="@LoginUser">Login</button>
    </div>
</div>

<div>
    Need an account?       <button class="btn btn-primary" @onclick="NavigateToRegisterComponent">
        Register now!
    </button>
</div>

@code {
    private string apiUrl = "http://localhost:5003/login";
    private void NavigateToRegisterComponent()
    {

        NavigationManager.NavigateTo("/register", true);
    }
    private User user = new User();

    private async void LoginUser()
    {
        //user.UserId = Guid.NewGuid();

        var result = await Http.PostAsJsonAsync(apiUrl, user);
        if (result.StatusCode.ToString() == "OK")
        {
            var content = await result.Content.ReadAsAsync<ResponseObject>();

            await sessionStorage.SetItemAsync("hash", content.Hash);
            await sessionStorage.SetItemAsync("firstname", content.FirstName);
            await sessionStorage.SetItemAsync("lastname", content.LastName);
        }
        NavigationManager.NavigateTo("/", true);

    }

    public class User
    {
        public string Email { get; set; }
        public string Password { get; set; }
    }

    public class ResponseObject
    {
        public string Hash { get; set; }
        public string FirstName { get; set; }
        public string LastName { get; set; }
    }
}