@page "/register"
@inject HttpClient Http
@using TrotIS.Shared
@using Microsoft.AspNetCore.Components;
@inject NavigationManager navManager


<h3>Register</h3>

<div class="row">
    <div class="col-md-4">
            <label for="email">Email </label><input id="email" type="email" name="email" @bind="user.Email" placeholder="Email..."><br>
            <label for="password">Password </label><input id="password" type="password" name="password" @bind="user.Password" placeholder="Password..."><br>
            <label for="firstname">First name </label><input id="firstname" type="text" name="firstname" @bind="user.FirstName" placeholder="First Name"><br>
            <label for="lastname">Last name </label><input id="lastname" type="text" name="lastname" @bind="user.LastName" placeholder="Last Name"><br>
            <label for="phone">Phone </label><input id="phone" type="text" name="phone" @bind="user.Phone" placeholder="Phone..."><br>
            <label for="birthday">Email </label><input id="birthday" type="date" name="birthday" @bind="user.BirthDay" placeholder="Birthday"><br>
            <label for="socialclass">Social class </label><input id="socialclass" type="text" name="socialclass" @bind="user.SocialClass" placeholder="Social class"><br>
            <button @onclick="@RegisterUser">Register</button>
    </div>
</div>
<div>
    Already have an account?       <button class="btn btn-primary" @onclick="NavigateToLoginComponent">
        Login
    </button>
</div>


@code {

    private string apiUrl = "http://localhost:5003/api/user";
    private User user = new User();
    private async void RegisterUser()
    {
        user.UserId = Guid.NewGuid();
        user.Address = null;
        await Http.PostAsJsonAsync(apiUrl, user);
        navManager.NavigateTo("/", true);
    }
    private void NavigateToLoginComponent()
    {
        navManager.NavigateTo("/login", true);
    }

    public class User
    {
        public Guid UserId { get; set; }
        public string Email { get; set; }
        public string Password { get; set; }
        public string FirstName { get; set; }
        public string LastName { get; set; }
        public string Phone { get; set; }
        public DateTime BirthDay { get; set; }
        public EnumLists.SocialClass SocialClass { get; set; }
        public virtual Address Address { get; set; }
    }

}
