@inherits LayoutComponentBase
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    @if (fname != null)
    {
        <div class="top-row px-4">
            <a href="/login">Hello, @fname @lname</a>
        </div>
    }
    else
    {
        <div class="top-row px-4">
            <a href="/register">Register</a>
        </div>
    }

    <div class="content px-4">
        @Body
    </div>
</div>
@code{
    public string email = null;
    public string fname = null;
    public string lname = null;
    protected async override void OnInitialized()
    {
        try
        {
            fname = await sessionStorage.GetItemAsync<string>("firstname");
            email = await sessionStorage.GetItemAsync<string>("hash");
            lname = await sessionStorage.GetItemAsync<string>("lastname");
            this.StateHasChanged();
        }
        catch
        {

        }

    }
}