@inherits LayoutComponentBase
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    @if (name != null)
    {
        <div class="top-row px-4">
            <a href="/login">Hello, @name</a>
        </div>
    }
    else
    {
        <div class="top-row px-4">
            <a href="/login">Login</a>
        </div>
    }

    <div class="content px-4">
        @Body
    </div>
</div>
@code{
	public string name = null;
	protected async override void OnInitialized()
	{
		try
		{
			name = await sessionStorage.GetItemAsync<string>("firstname");
            this.StateHasChanged();
		}
		catch
		{

		}

	}
}